html,body{
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
overflow-x: hidden;
}
header{
	width:100%;
	height:80px;
	background-color:#F13F31;
}
header ol{
    width:100%;
	list-style:none;
	display:flex;
	align-items:center;
}
header ol li{
	display:inline-block;
	margin:auto;
}
header img{
	width:100px;
	height:80px;
}
header form{
	float:right;
	margin:0px 380px 0px 0px; 	
	padding-left:100px;
}
header .search{
    padding:10px;
    height:40px;
    width: 500px;
    border: 1px solid black;
    float: left;
}
header .button{
    height: 40px;
    width: 55px;
    border: 1px solid black;
    float: left;
}
header .button .fa{
	font-size:20px;
	background:white;
	
	color:black;
}
header i{
	background:black;
	color:white;
	font-size:30px;
	padding-left:10px;
	margin-right:20px;
}
header .fa{
	font-size:30px;
	background:none;
}
header .shopping{
	margin-right:40px;
	
}
header a{
    float:right;
	text-decoration:none;
	color:white;
	padding-left:5px;
	opacity:0.7;
	transition:0.25s;
}
header a:hover{
	opacity:1;
}
nav{
	width:100%;
	height:40px;
	background:black;
	position:sticky;
	top:0;
	overflow:hidden;
}
nav ol a{
	text-decoration:none;
	color:white;
}
nav li{
	display:inline-block;
	padding-right:50px;	
	padding-left:50px;
	line-height:40px;
}
nav li:hover,nav a:hover{
	background:#FB7166;
	color:white;
}
article{
	width:100%;	
	height:auto;
}
#container1{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.card1{
	width:21%;
	display:block;
	border:1px solid black;
	margin:30px;
	height:380px;
	border-radius:10px;
	box-sizing:border-box;
	box-shadow:0 14px 28px rgba(0,0,0,0.2),
	0 10px 10px rgba(0,0,0,0.22);
	cursor:pointer;
	transition:.4s;
	background:#f2f2f2;
}
.card1:hover{
	box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
	transform:translate(0px,-8px);
}
#container1 a{
	text-decoration:none;
	color:black;
}
article .img1{
	width:90%;
	height:230px;
	padding-left:30px;
	padding-top:20px;
}
.product-name{
	display:block;
	text-align:center;
	padding-top:40px;
}
.offer{
	font-weight:bold;
	line-height:50px;
}
.originalprice{
	text-decoration:line-through;
	font-size:14px;
	color:#909090;
}
.checked{
	color:orange;
}
footer{
	width:100%;
	height:300px;
	
	background-color:#232F3E;
}
footer .container{
	width:100%;
	padding:70px 30px 20px;
}
footer .social{
	display:flex;
	justify-content:center;
}
footer .social a{
	padding:10px;
	text-decoration:none;
	margin:10px;
	font-size:30px;
	border-radius:50px;
	color:black;
	opacity:0.7;
	background:white;
	padding:10px;
}
footer .social a:hover{
	background-color:#232F3E;
	transition:0.5s;
	color:white;
}
footer #navigate{
	width:100%;
}
footer #navigate ol{
	display:flex;
	justify-content:center;
	list-style:none;
}
footer #navigate ol li a{
	color:white;
	text-decoration:none;
	margin:20px;
	font-size:1.3em;
	opacity:0.7;
	transition:0.5s;	
}
footer #navigate ol li a:hover{
	opacity:1;
}
footer #copy{
	color:white;
}
footer h3{
	color:white;
	text-align:center;
	padding-top:50px;
	opacity:0.7;
	transition:0.5s;
}
footer h3:hover{
	opacity:1;
}